/* @israelstudio */
.gallery{
    color: blue;
    margin: 0;
    cursor: pointer;
}
.content{
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    row-gap: 30px;
    justify-items: center;
    transition: 1s;
}
.content a img{
    width: 100px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
video{
    width: 150px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.gallery-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.gallery-asp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
.arrow{
    width: 20px;
    height: 10px;
    cursor: pointer;
    transition: 1s;
}
.gallery1{
    margin-bottom: 30px;
}
.picvid1, .picvid2, .picvid3, .picvid4, .picvid5, .picvid6, .picvid7, .picvid8, .picvid9{
    width: 250px;
    position: relative;
}


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 100px;
}


.feature-img{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}
.playbtn{
    border-radius: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    width: 40px;
}
.video-player{
    width: 80%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px 0 10px 5px;
    box-shadow: 0 0 13px 6px rgb(0 0 0 / 80%);
    display: none;
}
video:focus{
    outline: none;
    position: relative;
}
#myVideo{
    width: 550px;
}
.close-btn{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.order:hover{
    color: wheat;
    background-color: rgb(0, 102, 255);
}
.order{
    background-color: blue;
    border-radius: 15px;
    color: white;
    padding: 10px 30px;
    border-width: 0;
    cursor: pointer;
    transition: 0.5s;
}
.hovera img:hover {
    background-color: rgb(255, 68, 99);
    transition: 1s;
    opacity: 0.7;
}
.hovera:hover h3 {
    top: 450px;
    opacity: 1;
}

/* @israelstudio */

.hover{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    row-gap: 20px;
    padding: 50px 0 50px 80px;
}
.hovera{
    cursor: pointer;
    position: static;
    transition: 1s;
}
.hovera img {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hovera h3 {
    position: absolute;
    left: 12%;
    top: 650px;
    color: rgb(0, 8, 255);
    opacity: 0;
    transition: 1s;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hoverb img:hover {
    background-color: rgb(255, 68, 99);
    transition: 1s;
    opacity: 0.7;
}
.hoverb:hover h3 {
    top: 450px;
    opacity: 1;
}
.hoverb{
    cursor: pointer;
    position: static;
    transition: 1s;
}
.hoverb img {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hoverb h3 {
    position: absolute;
    left: 43%;
    top: 650px;
    color: rgb(0, 8, 255);
    opacity: 0;
    transition: 1s;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hoverc img:hover {
    background-color: rgb(255, 68, 99);
    transition: 1s;
    opacity: 0.7;
}
.hoverc:hover h3 {
    top: 450px;
    opacity: 1;
}
.hoverc{
    cursor: pointer;
    position: static;
    transition: 1s;
}
.hoverc img {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hoverc h3 {
    position: absolute;
    right: 15%;
    top: 600px;
    color: rgb(0, 8, 255);
    opacity: 0;
    transition: 1s;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/* @israelstudio */









@media (max-width: 880px) {
    .content{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .picvid1, .picvid2, .picvid3, .picvid4, .picvid5, .picvid6, .picvid7, .picvid8, .picvid9{
        width: 150px;
        position: relative;
    }
    .hover{
        grid-template-columns: 1fr 1fr;
    }
    .hovera:hover h3 {
        top: 450px;
        opacity: 1;
    }
    .hovera h3 {
        left: 19%;
        top: 650px;
    }
    .hoverb:hover h3 {
        top: 450px;
        opacity: 1;
    }
    .hoverb h3 {
        left: 62%;
        top: 650px;
    }
    .hoverc:hover h3 {
        top: 115%;
        opacity: 1;
    }
    .hoverc h3 {
        left: 25%;
        top: 130%;
    }
    .playbtn{
        width: 20px;
    }
    #myVideo{
        width: 300px;
    }
    .video-player{
        width: 60%;
        padding: 10px 0 10px 5px;
    }
}
@media (max-width: 460px) {

    .picvid1, .picvid2, .picvid3, .picvid4, .picvid5, .picvid6, .picvid7, .picvid8, .picvid9{
        width: 150px;
        position: relative;
    }
    .hover{
    grid-template-columns: 1fr 1fr;
}
}

@media (max-width: 530px) {
    #myVideo{
        width: 200px;
    }
}
@media (max-width: 690px) {
    .hover{
        grid-template-columns: 1fr;
    }

    .hovera:hover h3 {
        top: 450px;
        opacity: 1;
    }
    .hovera h3 {
        left: 27%;
        top: 650px;
    }
    .hoverb:hover h3 {
        top: 120%;
        opacity: 1;
    }
    .hoverb h3 {
        left: 26%;
        top: 180%;
    }
    .hoverc:hover h3 {
        top: 165%;
        opacity: 1;
    }
    .hoverc h3 {
        right: 50%;
        top: 190%;
    }
}
