*{
    font-family: "Oswald", sans-serif;
}
.header{
    display: inline-block;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-x: hidden;
}
h1{
    display: inline-block;
}
.header1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.span:hover{
    color: blue;
}
.span{
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.ist{
    width: 170px;
}
.vid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 60px;
    background: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    font-weight: 700px;
    font-size: 70px;
}
.cons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}
.class{
    font-size: 15px;
    margin-left: 25px;
}
a{
    text-decoration: none;
    color: black;
}
h6{
    margin: 20px;
}
textarea:focus {
    color: #495057;
    border-color: #ffd997;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 170, 23, 0.25);
}
textarea{
    resize: none;
    height: 200px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    border-width: 0px;
    background-color: #e1e1e1;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.message{
    display: flex;
    flex-direction: column;
    line-height: 20px;
}
.messag1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    margin-top: 20px;
}
.text:active{
    border-color: aqua;
}
.text:focus {
    color: #495057;
    border-color: #ffd997;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 170, 23, 0.25);
}
.text{
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    padding: 10px;
    border-width: 0px;
    background-color: #e1e1e1;
}
.message button:hover{
    background-color: rgb(0, 115, 255);
    color: black;
}
.message button{
    background: linear-gradient(to left, rgb(30, 0, 255), rgb(0, 72, 255));
    padding: 20px;
    border-width: 0px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.title{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px 100px;
    align-items: center;
    justify-content: space-between;
}
.pics{
    width: 50%;
    border-radius: 40%;
    display: flex;
}
.about:hover{
    background-color: rgb(0, 115, 255);
    color: black;
}
.about{
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(0, 60, 255);
    color: white;
    padding: 20px 30px;
    border-width: 0px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}
.topic h2{
    color: rgb(0, 60, 255);
    font-family: "Oswald", sans-serif;
}
.bottom{
    background-color: rgb(48, 51, 57);
    padding: 10px;
    color: rgb(168, 168, 168);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 5px 150px 5px;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.flw{
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: -20px;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
}
section a img{
    width: 30%;
    border-radius: 30px;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.fon{
    width: 10%;
    border-radius: 70%;
    margin-right: 15px;
}
.mail{
    width: 10%;
    border-radius: 70%;
    margin-right: 15px;
}
.mal{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
}
.fone{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.right a:hover{
    text-decoration: underline;
}
.right a{
    color: rgb(168, 168, 168);
    margin: 5px;
    transition: 0.9s;
}
.menu{
    width: 40px;
    margin-top: -500px;
    opacity: 0;
}
.sideBar{
    display: none;
}
.img12{
    width: 30px;
    border-radius: 50%;
}
#status{
    text-align: center;
    background-color: green;
    display: inline-block;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
@media (max-width: 850px) {
    .header1{
        display: flex;
    }
    .title{
        flex-direction: column;
        justify-content: none;
    }
    .pics{
        width: 96%;
        margin-top: 20px;
        border-radius: 30%;
    }
    .vid{
        flex-direction: column;
        justify-content: none;
    }
    .bottom{
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }
    .header{
        display: none;
    }
    .menu{
        margin-top: 0px;
        margin-left: 35vh;
        cursor: pointer;
        opacity: 1;
    }
    .sideBar{
        background-color: aqua;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        line-height: 50px;
        text-align: left;
        position: absolute;
        top: 0;
        right: -500px;
        height: 100vh;
        width: 200px;
        transition: 1s;
    }
    .close:hover{
        background-color: blue;
        color: white;
    }
    .close{
        margin: 15px;
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid blue;
        background-color: transparent;
        border-radius: 50%;
        transition: 0.7s;
    }
}